$body-bg: #edf2f7;
$header-bg: #FFFFFF;
$subheader-bg: #EAEAEA;
$font-primary: 'Segoe UI', sans-serif;
$divider-color: rgba(131, 131, 131, 0.54);

$color-primary: #6574cd;
$color-primary-dark: #5661b3;
$color-primary-darker: #2f365f;
$color-primary-light: #6574cd;
$color-primary-lighter: #b2b7ff;
$color-secondary: #FCBE95;

$menu-background-color: #d1d5f0;
$menu-item-color: #444;
$menu-active-color: #bac5f0;
$menu-hover-color: #bac5f0;
$menu-title-color: #454e8f;
